body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
/* Global */
.button_1{
    height: 38px;
    background: #e8491d;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

ul {
    margin: 0px;
    padding: 0px;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;

}

header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;

}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}



header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top: 10px;
    vertical-align: top;
}

header .highlight, header .current a{
    color: #e8495d;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

/* Showcase */
#showcase {
    min-height: 450px;
    overflow: hidden;
    background-image: url(../img/David.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    color:#ffffff;
}
#showcase h1{
    margin-top:100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 20px;
}
/* Newsletter */
#newsletter{ 
    padding: 15px;
    color: #ffffff;
    background:#35424a;
}

#newsletter h1{
    float: center;
    vertical-align:center;
}
#newsletter form{
    float: right;
    margin-top: 15px;
    position:relative;
    background-color: #ffffff;
}
#newsletter p{
    margin-left: -40px;
    margin-top: -10px;
}
#newsletter input[type="radio"]{
    float:left;
    height: 25px;
    width: 50px;
    color: black;
}
#newsletter button{
    float: right;
    position: relative;
    vertical-align:middle;
}
header #title2 {
    margin-top: 0px;
    margin-bottom: 15px;   
    text-align: center;
    position: relative; 
    background: #35424a;
    margin-left: 10px;
}


/* Boxes */
#boxes{
    margin-top: 20px;
}
#boxes .box{
    float: left;
    text-align: center;
    background-color: skyblue;

}

#boxes .box img{
    width: 160px;
    height: 200px;
}
#boxes .box .favorite .img{
    width: 50px;
    height: 70px;
}

footer{
    padding: 10px;
    margin-top: 10px; 
    color: #ffffff;
    background-color: #e8491d;
    height: 8px;
    text-align: center;
}

footer #bad{
    color: #ffffff;
    background-color: #e8491d;
    height: 8px;
    text-align: center;
    vertical-align: center;
}
.me {
    text-align: center;
    vertical-align: center;
    font-size: 12px;
    background-color: #e8491d;
    border-top: black;
    border: 3px;
}
#FAQ {
    border-color: black;
    border: 5px;
    background-color: #DCDCDC;
    display: inline-block;
}
.navigation-bar{
    margin-top: -75px;
    margin-left: -35px;
}

.wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: .5em;
    border-color:black;
    border-width:4.5px; 
}
.wrapper > div{
    background:#eee;
    padding:1em;
}

.wrapper2{
    display: grid;
    grid-template-columns:60% 40%;
    grid-gap: .5em;
    padding-left: 10px;

}
.links img{
    opacity: 1;
    display: block;
    transition:.5s ease;
    backface-visibility: hidden;
}
    .middle {
    transition: .5s ease;
    opacity: 0;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.wrapper > div:nth-child(1) {
    padding: 1em;
    background-color:skyblue;
}
.wrapper2 > div:nth-child(0){
    background-color: gold;
}
.wrapper2 h4{
    font-size:12px;
    font-family: Sans-serif, Verdana, Garamond;
    font-weight:200px;
}

.onea {
    height: 200px;
    width: 500px;
}
.twoa {
    padding-top:10px;
    height: 200px;
    width: 500px;
}
.threea{
    padding-top:10px;
    height:200px;
    width:500px;
    padding-bottom: 20px;
}
.second {
    background-color: gold;
}
.middle .text{
    background-color:#4CAF50;
    color: white;
    font-size: 10px;
    padding: 16px 32px;
}
.bad h4{
    color: black;
}
.bad {
    background-color: navy;
}
.links:hover .pic{
    opacity: .3;
}
.links:hover .middle{
    opacity: 1;
}
.links{
    position:relative;
    width: 50%;
}
.favorite h4{
    text-align: center;
    text-emphasis:italic;
    font-family:cursive;
    margin-top:-40px;
}
.favorite img{
    height: 40px;
    width: 35px;
}

#boxes .box .favorite img{
    height: 40px;
    width: 35px;
}
