body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
/* Global */
.button_1{
    height: 38px;
    background: #e8491d;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

ul {
    margin: 0px;
    padding: 0px;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;

}

header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;

}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}



header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top: 10px;
    vertical-align: top;
}

header .highlight, header .current a{
    color: #e8495d;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

/* Showcase */
#showcase {
    min-height: 450px;
    overflow: hidden;
    background-image: url(../img/David.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    color:#ffffff;
}
#showcase h1{
    margin-top:100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 20px;
}
/* Newsletter */
#newsletter{ 
    padding: 15px;
    color: #ffffff;
    background:#35424a;
}

#newsletter h1{
    float: center;
    vertical-align:center;
}
#newsletter form{
    float: right;
    margin-top: 15px;
    position:relative;
    background-color: #ffffff;
}
#newsletter p{
    margin-left: -40px;
    margin-top: -10px;
}
#newsletter input[type="radio"]{
    float:left;
    height: 25px;
    width: 50px;
    color: black;
}
#newsletter button{
    float: right;
    position: relative;
    vertical-align:middle;
}
header #title2 {
    margin-top: 0px;
    margin-bottom: 15px;   
    text-align: center;
    position: relative; 
    background: #35424a;
}


/* Boxes */
#boxes{
    margin-top: 20px;
}
#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;

}

#boxes .box img{
    width: 130spx;
    height: 200px;
}

footer{
    padding: 10px;
    margin-top: 10px; 
    color: #ffffff;
    background-color: #e8491d;
    height: 8px;
    text-align: center;
}

footer #bad{
    color: #ffffff;
    background-color: #e8491d;
    height: 8px;
    text-align: center;
    vertical-align: center;
}
.me {
    text-align: center;
    vertical-align: center;
    font-size: 12px;
    background-color: #e8491d;
    border-top: black;
    border: 3px;
}
#FAQ {
    margin-left: 20px;
    border-color: black;
    border: 5px;
    background-color: #DCDCDC;
    display: inline-block;
}
.navigation-bar{
    margin-top: -75px;
    margin-left: -35px;
}

.wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: .5em;
}
.wrapper > div{
    background:#eee;
    padding:1em;
}
.wrapper > div:nth-child(1){
    background:#dddddd;
}